
html {
  
  height: 100%; 
}

.container{
  flex-flow: column nowrap!important;
  display: flex!important;
  height: 100%!important;
}

.light {
  --bg-color: #ffffff;
  --text-color: #24292e;
  --experience-main: #e27720;
  --tech-icon-background: rgb(255, 255, 255, 0.9);
  --nav-active: #f3f3f3;
  --icon-color: #0487aff8;
  --project-card-hoverbg: #d15353;
  --footer-background: transparent;
  --footer-social-icons: black;
  --green-light: #00c3fff8;
  --green-0: #008db8;
  --green-1: #16aaeece;
  --green-2: #f16d15dc;
  --green-3: #fa781b;
  --green-6: #0597b1;
  --homepicbg: #068a9b;
  --imp-text-color: var(--green-3); 
}

.dark {
  --bg-color: #0d1117;
  --text-color: #ffffff;
  --experience-main: #00a6cf;
  --project-card-hoverbg: #93e4e7;
   --icon-color: #E0FFFF;
  --tech-icon-background: rgba(0, 0, 0, 0.8);
  --nav-active: #161b22; 
  --footer-background: #161b22;
  --footer-social-icons: white;
  --green-light: #00d9ffe1;
  --green-0: #0a889ea9;
  --green-1: #04d9ffa9;
  --green-2: #04d9ffe1;
  --green-3: #04d9ff;
  --homepicbg:#055563;
  --imp-text-color: var(--green-3);
}

.green {
  color: var(--imp-text-color);
}

.text {
  color: var(--text-color) ;
}

button:focus {
  box-shadow: none;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/******************************************************** Pre-Loader ***********************************************************************************************/
/* --------=-----------------------------------------------------------------------------------------------------------------------------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  color: #00d9ff;
  background-color: var(--bg-color);
  background-image: url(./assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/******************************************************** Scrollbar ***********************************************************************************************/
/* --------=-----------------------------------------------------------------------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green-2);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green-3);
  border-radius: 12px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/******************************************************** Navbar Section ***********************************************************************************************/
/* --------=-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.sticky {
  background-color: var(--nav-active) ;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  backdrop-filter: blur(15px);
}

.navbar {
  position: fixed ;
  transition: all 0.3s ease-out 0s !important;
  padding: 0rem 3rem 0em;
  font-size: 1.2rem ;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
}

.navbar-toggler {
  padding: 0.25rem 1.5rem ;
  position: relative ;
  background-color: transparent ;
  border-color: transparent ;
}

.navbar-toggler span {
  display: block ;
  background-color: var(--green-3) ;
  height: 4px ;
  width: 27px ;
  margin-top: 5px ;
  margin-bottom: 5px ;
  transform: rotate(0deg);
  left: 0 ;
  opacity: 1 ;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 ;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out ;
  transition: transform 0.35s ease-in-out ;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute ;
  left: 12px ;
  top: 10px ;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px ;
  visibility: hidden ;
  background-color: transparent ;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute ;
  left: 12px ;
  top: 10px ;
  transform: rotate(-135deg) ;
  opacity: 0.9 ;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem ;
    font-size: 1.4rem ;
    background-color: var(--nav-active) !important;
  }
  .navbar-nav .nav-item a::after {
    display: none;
  }
}
.navbar-brand {
  color: var(--text-color) ;
}

.logo {
  height: 1.4em ;
  width: 2.5em ;
}

.navbar-nav .nav-link {
  color: var(--text-color) !important;
  padding-right: 1rem ;
  padding-left: 1rem ;
}

.nav-link {
  padding: 0.8rem 1rem ;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem ;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}
.navbar-nav .nav-item .navLogo {
  position: relative;
  margin-left: 0px;
}
.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: var(--green-3);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/******************************************************** Home - Section ***********************************************************************************************/
/* --------=-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed ;
  background-repeat: no-repeat ;
  background-size: cover ;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 80px ;
}

.home-section {
  position: relative;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px ;
  padding-top: 40px ;
}

.home-content {
  padding: 9rem 0 2rem ;
  color: var(--text-color);
  text-align: left;
  padding-top: 150px;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

.main-name {
  color: var(--green-3);
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: var(--green-3) !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: var(--green-3) !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.home-social-section{
  position: relative !important;
  padding-top: 100px !important;
  padding-bottom: 30px !important;
}
.home-social a{
font-size: 2.5rem;
color: var(--green-3) !important;
}
.home-social-icons {
  
  display: inline-block !important;
  padding-right: 25px;
  padding-left: 25px;
  
}
@media (max-width: 767px) {
  .home-social a {
    padding-top: 200px;
  }
}
.img-home{
  border: 1px solid var(--homepicbg);
  border-radius: 250px;
  width: 30em;
  height: 30em;
  box-shadow: 0 2px 2px 5px var(--homepicbg) !important;
}
@media(max-width: 767px){
  .img-home{
    width: 20em;
    height: 20em;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/********************************************************** Footer ***********************************************************************************************/
/* --------=-----------------------------------------------------------------------------------------------------------------------------------------------------*/

.footer {
  background-color: var(--footer-background);
  bottom: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 0px !important ;
  text-align: center;
}

.footer-copywright {
  flex: 1;
}

.footer-body {
  z-index: 1;
  padding: 0rem 3rem 0em!important;

}

.footer-social-icons {
  color: var(--footer-social-icons) !important;
  display: flex !important;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0;
  font-size: 1.1rem;
  z-index: 1
}


@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: var(--text-color) !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}
.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}


.icon-colour {
  color: var(--green-1) !important;
}

.quote-about {
  margin-block-end: 0;
  color: var(--green-0);
}

.blockquote-footer {
  color: var(--green-0) !important;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/******************************************************** Projects ***********************************************************************************************/
/* --------=-----------------------------------------------------------------------------------------------------------------------------------------------------*/

.project-section {
  position: relative !important;
  padding-top: 100px !important;
  padding-bottom: 30px !important;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px var(--green-0) !important;
  color: var(--text-color) !important;
  background-color: transparent !important;
  backdrop-filter: blur(10px);
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  display: flex;
  flex-direction: column;
  height: 100% !important;
}
.project-card-view:hover {
  transform: scale(1.01) translate(-10px, -20px) !important;
  overflow: hidden !important;
  backdrop-filter: blur(0px) !important; 
  box-shadow: 0 4px 4px 5px var(--green-1) !important;
}
.project-card-img{
  width: auto;
  height:240px;
}
.card-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-body-wrapper .card-text {
  flex-grow: 1;
}
.card-body-wrapper .btn {
  width: 180px;
  margin-bottom: 20px;
  
}
.btn-primary {
  color: white !important;
  background-color: var(--green-1) !important;
  border-color: var(--green-1) !important;
  bottom: 0 !important;
}

.btn-primary:hover {
  color: white !important;
  background-color: var(--green-2) !important;
  border-color: var(--green-0) !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-toggle {
  color: var(--text-color) !important;
  background-color: transparent !important;
  border-color: transparent !important;
  position: relative !important;
}

.btn-toggle:hover {
  color: var(--text-color) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}


/* DROPDOWN */
.dropdown-toggle, .dropdown-toggle:hover {
  color: var(--text-color) !important;
  background-color: transparent !important;
  border: none !important;
  padding-right: 0rem!important;
  padding-left: 0rem!important;
}

.dropdown-menu {
  background-color: var(--nav-active) !important; 
}

.dropdown-item {
  color: var(--text-color) !important;
}

.dropdown-item:hover {
  background-color: var(--green-3) !important;
}
.project-description{
  white-space: pre-wrap;
  word-break: break-word;
  color: var(--text-color) !important;
}

.project-heading {
  color: var(--text-color) !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/******************************************************** About **************************************************************************************************/
/* --------=-----------------------------------------------------------------------------------------------------------------------------------------------------*/

.about-section {
  position: relative ;
  padding-top: 150px ;
  padding-bottom: 10px ;
  color: var(--text-color);
  
}

.quote-card-view {
  backdrop-filter: blur(1px);
  font-size: 1.25rem;
  color: var(--text-color) !important;
  background-color: inherit !important;
  margin-right: 30px !important;
}


.about-activity {
  list-style: none ;
  text-align: left ;
  padding-left: 1px ;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
  .about-card{
    padding-left: 0px !important;
  }
  .education-section{
    padding-top: 50px !important;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/******************************************************** TechStack ***********************************************************************************************/
/* --------=-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.tech-icons {
  font-size: 4em;
  margin: 15px;
  padding: 10px;
  opacity: 0.93;
  color: var(--icon-color);
  border: 1.7px solid var(--green-2);
  vertical-align: middle;
  text-align: center;
  box-shadow: 1px 2px 2px 1px var(--green-3);
  border-radius: 5px;
  display: table;
  overflow: hidden;
  transition: all 0.4s ease 0s;
  position: relative;
  width: 75%;
}

.tech-icons .tech-icon-hover-info {
  position: relative; /* Changed from relative to absolute */
  top: 0; /* Ensure it covers the entire icon */
  left: 0; /* Ensure it covers the entire icon */
  width: 100%; /* Ensure it covers the entire icon */
  height: 100%; /* Ensure it covers the entire icon */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--icon-color);
  opacity: 0 !important;
  transition: opacity 0.3s ease;
}

.tech-icons:hover .tech-icon-hover-info {
  opacity: 1 !important;
}

.tech-icons:hover .icon-images {
  transform: scale(1.35);
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.1);
  overflow: hidden;
  backdrop-filter: blur(5px);
  color: var(--green-2) !important;
  border: 1px solid var(--green-3) !important;
}

.animate-like {
  animation-name: likeAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
}
@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: var(--green-1) !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: var(--green-2) !important;
  border-color: var(--green-2) !important;
}
.fork-btn-inner::after {
  display: none !important;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/******************************************************** Experience ***********************************************************************************************/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.experience-section {
  position: relative ;
  padding-top: 200px ;
  padding-bottom: 30px ;
}
.experience-heading {
  color: var(--text-color) ;
  font-size: 2.3em ;
  font-weight: 500 ;
  padding-top: 10px ;
  padding-bottom: 50px;
}

.main-experience{
  box-shadow: 0px 4px 10px 0px #858885 !important;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: var(--experience-main);
  color: var(--text-color) !important;
}

.experience-description {
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word;
  color: var(--text-color) !important;
}

.vertical-timeline::before {
  background: #00d9ff;
}

.vertical-timeline-element {
  transition: all 0.3s ease-in-out;
}

.vertical-timeline-element:hover {
  transform: scale(1.01) translateY(-5px);
  transition: all 0.3s ease-in-out;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*********************************************************** Contact ***********************************************************************************************/
/* --------=-------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contact-section {
  position: relative ;
  padding-top: 200px ;
  padding-bottom: 200px ;
}
.contact-heading{
  color: var(--text-color) ;
  font-size: 2.3em ;
  font-weight: 500 ;
  padding-top: 10px ;
  padding-bottom: 50px;
}
.contact-form {
  background: inherit !important;
  backdrop-filter: blur(10px);
  border: 2px solid var(--green-3) !important ;
  border-radius: 20px;
  color: var(--green-light) !important;
  padding-left: 1rem 4rem;
  margin-bottom: 1.5rem;
}

.contact-form:focus {
  background-color: transparent;
  border-color: var(--green-3);
}

.contact-icons{
padding-left: 150px !important;
}
@media(max-width: 767px) {
  .contact-icons{
    padding-left: 30px !important;
    padding-top: 50px;
  }
}
.form-body{
  padding-top: 50px;
}
.contact-main{
  padding-right: 1 rem ;
}
.contact__option {
  background: transparent;
  backdrop-filter: blur(5px); 
  padding: 0.5rem;
  border: 2px solid var(--green-3);
  border-radius: 1rem;
  margin-top: 1rem;
  width: 18rem;
  color: var(--green-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.contact__option:hover {
  background: transparent;
  border-color: var(--green-light);
  box-shadow: 0 4px 8px var(--green-1);
  color: var(--green-3);
}

.contact__option-icon {
  font-size: 2.5rem;
  margin: 0.2rem;
  color: var(--green-light);
}

.contact__option a {
  margin-top: 0.8rem;
  display: inline-block;
  font-size: 0.8rem;
  color: var(--green-light);
}
.contact__option a:hover{
  color: var(--green-2);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*********************************************************** Education ***********************************************************************************************/
/* --------=-------------------------------------------------------------------------------------------------------------------------------------------------------*/

.education-section{
  position: relative ;
  padding-top: 200px ;
  padding-bottom: 200px ;
}
.education-heading {
  color: var(--text-color) !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
  padding-bottom: 50px;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: var(--text-color);
  border: 3px var(--green-light) solid;
  backdrop-filter: blur(5px);
  border-radius: 2px;
  padding: 20px;
  /*box-shadow: 0 4px 4px 5px var(--green-0) !important;*/
}

.flip-card-back {
  background-color: transparent;
  backdrop-filter: blur(5px);
  color: var(--text-color);
  transform: rotateY(180deg);
  border-radius: 10px;
  border: 3px var(--green1) solid;
  box-shadow: 0 4px 4px 5px var(--green-2) ;
}